.topic-list.topic-thumbnails-list .topic-list-body {
  border-top: 0;
}

//general styling
.topic-list.topic-thumbnails-grid,
.topic-list.topic-thumbnails-list {
  .topic-list-item {
    display: flex;
    border-radius: 0.5rem;
    background-color: var(--secondary);
    box-shadow: var(--box-shadow);
  }

  .main-link {
    .title {
      color: var(--primary-800);
      font-family: var(--heading-font-family);
      line-height: 1.5em;
      font-weight: bold;
    }
  }
  .link-top-line {
    display: flex;

    .title {
      padding: 0;
      //limit title to 2 lines
      line-height: 1.4em; //var(--line-height-large);
      overflow: hidden;
      text-overflow: ellipsis;
      display: -webkit-box;
      -webkit-line-clamp: 2;
      -webkit-box-orient: vertical;
      max-height: 2.8em; //calc((var(--line-height-large) * 2) em;
    }
  }

  .topic-excerpt {
    margin-block: 0.5rem 1rem;
    display: block;
    padding: 0;
  }

  .topic-list-metadata {
    grid-area: metadata;

    &__poster {
      margin-bottom: 0.5rem;
      color: var(--primary-600);
      font-family: var(--heading-font-family);
      font-size: 12px;

      &:last-child {
        display: inline;

        .avatar {
          display: none;
        }
      }
    }

    &__metrics {
      display: flex;
      flex-wrap: wrap;
      justify-content: space-between;
      margin-left: 0.3rem;
      font-size: 12px;
    }

    &__metric-timestamps {
      margin-right: 0.2em;
    }

    &__metric-timestamp-icon {
      svg {
        vertical-align: top;
      }
    }

    &__metric-timestamp-icon,
    &__metric-timestamp-text {
      display: inline-block;
      padding-block: 0.2em;

      a {
        font-weight: bold;
        font-family: var(--heading-font-family);
      }
    }

    &__metric-activity {
      margin-top: auto; // forces to bottom align when 2 rows exist
      margin-left: auto;
      padding-block: 0.2em;
    }

    .relative-date {
      &:before,
      &:after {
        content: "\00a0";
      }
    }
  }
  /*
* The template additions of like-comment-share
*/
  .topic-list-actions {
    grid-area: actions;
    display: flex;
    gap: 2rem;
    padding: 1.5rem;
    border-top: 1px solid var(--primary-200);
    font-size: 14px;
    font-weight: bold;

    svg {
      vertical-align: middle;
    }
  }
}

//everything is default list view
.topic-list.topic-thumbnails-list {
  display: block;

  .topic-list-header {
    display: none;
  }

  .topic-list-body {
    flex-direction: column;
    display: flex;
    width: 100%;
    gap: 1.5em;
  }

  .topic-list-item-separator td {
    display: block;
  }

  //regular items, without displayed image
  .topic-list-item {
    position: relative;

    .main-link {
      display: grid;
      grid-template-areas:
        "image tags"
        "image title"
        "image content"
        "image metadata";
      grid-template-columns: auto 1fr;
      grid-template-rows: auto auto 1fr auto;
      column-gap: 1.5rem;
      row-gap: 0.5rem;
      padding: 1.5rem 1.5rem 1.5rem 0;
      max-height: 250px;
      box-sizing: border-box;

      .topic-list-thumbnail {
        display: none;
      }

      .link-top-line {
        grid-area: title;

        .title {
          padding: 0;
        }
      }

      .link-bottom-line {
        grid-area: tags;
        margin: 0;

        .badge-wrapper {
          display: none;
        }
      }

      .topic-excerpt {
        grid-area: content;
        overflow: hidden;
        text-overflow: ellipsis;
        white-space: nowrap;
        margin-block: 0;
      }
    }

    .topic-list-metadata {
      align-self: end;
    }
  }

  //blog tagged items, with displayed image

  .topic-list-thumbnail.has-thumbnail {
    display: block;
    grid-area: image;
    height: 250px;
    width: 250px;
    margin-top: -1.5rem;
    margin-bottom: -1.5rem;
    margin-right: 0;
  }
}

/*
*some categories are grid layout: 
- learn
- …
*/
// .topic-list.topic-thumbnails-grid {
//   .topic-list-body {
//     grid-template-columns: 1fr 1fr;
//     grid-column-gap: 1.5rem;
//     grid-row-gap: 2.5rem;
//   }
//   .topic-list-item {
//     grid-template-areas:
//       "image"
//       "title"
//       "posters"
//       "activity"
//       "actions";
//     grid-template-rows: auto 1fr auto;
//     height: auto;

//     .topic-list-data {
//       background-color: inherit;
//     }
//   }

//   .topic-list-thumbnail {
//     height: 146px;

//     &.has-thumbnail.landscape {
//       a {
//         display: inline-block;
//         height: 100%;
//         width: 100%;
//       }
//       &:after {
//         content: "";
//         display: none;
//       }
//       .main-thumbnail {
//         position: unset;
//       }
//     }
//   }

//   .thumbnail-placeholder {
//     position: unset;
//   }

//   .main-link {
//     justify-content: space-between;
//     padding: 1.5rem 1.5rem 1.5rem 1.5rem;
//     background-color: inherit;

//     .link-bottom-line {
//       order: -1;
//       margin-bottom: 1rem;
//     }

//     .topic-excerpt {
//       flex-grow: 1;
//       word-break: break-word; //to avoid huge overflow in tiles because the migrated content has nbsp in there
//     }

//     .topic-excerpt-more {
//       display: none;
//     }
//   }

//   .topic-list-metadata {
//     align-self: stretch;
//   }
// }
