:root {
  --d-border-radius-large: 20px;
}
//list
.topic-cards-list {
  display: block;
  margin-top: 1.5rem;

  .topic-list-header {
    display: none;
  }

  .topic-list-body {
    display: flex;
    flex-direction: column;
    width: 100%;
    gap: 1em;
    border-top: 0;
    tr {
      border-bottom: 0;
    }
    .topic-list-item td:first-child {
      border: 0 !important;
    }
  }

  .topic-list-item-separator td {
    display: block;
  }
}

//card
.topic-card {
  display: flex;
  gap: 1.5rem;
  border-radius: var(--d-border-radius-large);
  background-color: var(--secondary);
  box-shadow: var(--shadow-card);
  max-height: 250px;

  &:hover {
    cursor: pointer;
  }

  //hiding core elements
  .num {
    &.posts,
    &.views,
    &.activity {
      display: none;
    }
  }

  .posters,
  .topic-card__tags {
    display: none;
  }

  //new elements styling
  &__thumbnail {
    .main-thumbnail {
      max-height: 100%;
      object-fit: cover;
      border-top-left-radius: var(--d-border-radius-large);
      border-bottom-left-radius: var(--d-border-radius-large);
    }
  }

  .main-link {
    display: grid;
    grid-template-areas:
      "tags tags"
      "title title"
      "excerpt excerpt"
      "op op"
      "metadata metadata";
    grid-template-rows: auto auto 1fr auto auto;
    flex-grow: 1;
    padding: 1rem 1.5rem 1rem 0 !important;
    box-sizing: border-box;
    border: 0 !important;

    .link-top-line {
      grid-area: title;
    }

    .title {
      font-weight: bold;
      padding: 0;
      //limit title to 2 lines
      line-height: 1.4em;
      overflow: hidden;
      text-overflow: ellipsis;
      display: -webkit-box;
      -webkit-line-clamp: 2;
      -webkit-box-orient: vertical;
      max-height: 2.8em; //calc((var(--line-height-large) * 2) em;

      &:hover {
        text-decoration: underline;
      }
    }

    .link-bottom-line {
      grid-area: tags;
      margin-bottom: 0.75rem;

      .badge-wrapper {
        display: none;
      }
    }

    .topic-card {
      &__category {
        grid-area: category;
      }
      &__op {
        grid-area: op;
        font-size: var(--font-down-1-rem);
      }
      &__metadata {
        grid-area: metadata;
        display: flex;
        justify-content: space-between;
        align-items: center;
      }
      &__publish-date {
        font-size: var(--font-down-1-rem);
      }
      &__excerpt {
        grid-area: excerpt;
      }
      &__excerpt-text {
        margin-block: 0.5rem 1rem;
        //limit title to 2 lines
        line-height: 1.1em;
        overflow: hidden;
        text-overflow: ellipsis;
        display: -webkit-box;
        -webkit-line-clamp: 3;
        -webkit-box-orient: vertical;
        max-height: 3.3em;
      }
      &__likes {
        color: var(--primary);
        font-weight: bold;
        .d-icon {
          color: var(--love);
        }
      }
    }
  }
}

//hover
.topic-list-item:has(.topic-card__excerpt:hover),
.topic-list-item:has(.topic-card__metadata:hover),
.topic-list-item:has(.topic-card__likes:hover) {
  .main-link .title {
    text-decoration: underline;
  }
}
